In [1]:
import pandas as pd

In [6]:
balice = pd.read_csv('data/balice_2021.csv')
balice

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,SNWD,SNWD_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-01-01,0.00,"B,,S",NaN,NaN,30,"H,,S",NaN,NaN,NaN,NaN
1,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-01-02,0.00,"B,,S",NaN,NaN,33,"H,,S",NaN,NaN,NaN,NaN
2,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-01-03,0.00,"B,,S",NaN,NaN,34,"H,,S",NaN,NaN,29.0,",,S"
3,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-01-04,0.00,",,S",NaN,NaN,35,"H,,S",43.0,",,S",NaN,NaN
4,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-01-05,0.29,",,S",NaN,NaN,36,"H,,S",38.0,",,S",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-12-27,0.01,",,S",1.2,",,S",17,"H,,S",NaN,NaN,12.0,",,S"
359,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-12-28,0.00,",,S",0.8,",,S",24,"H,,S",27.0,",,S",19.0,",,S"
360,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-12-29,0.01,"B,,S",0.8,",,S",28,"H,,S",NaN,NaN,22.0,",,S"
361,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-12-30,0.00,"B,,S",0.8,",,S",35,"H,,S",NaN,NaN,NaN,NaN
362,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-12-31,0.13,",,S",NaN,NaN,50,"H,,S",54.0,",,S",38.0,",,S"

In [8]:
balice.head(8)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,SNWD,SNWD_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-01-01,0.00,"B,,S",NaN,NaN,30,"H,,S",NaN,NaN,NaN,NaN
1,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-01-02,0.00,"B,,S",NaN,NaN,33,"H,,S",NaN,NaN,NaN,NaN
2,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-01-03,0.00,"B,,S",NaN,NaN,34,"H,,S",NaN,NaN,29.0,",,S"
3,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-01-04,0.00,",,S",NaN,NaN,35,"H,,S",43.0,",,S",NaN,NaN
4,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-01-05,0.29,",,S",NaN,NaN,36,"H,,S",38.0,",,S",NaN,NaN
5,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-01-06,0.16,",,S",NaN,NaN,34,"H,,S",37.0,",,S",29.0,",,S"
6,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-01-07,0.11,",,S",NaN,NaN,33,"H,,S",34.0,",,S",NaN,NaN
7,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-01-08,0.01,",,S",0.4,",,S",32,"H,,S",38.0,",,S",NaN,NaN

In [9]:
balice.dtypes

STATION             object
NAME                object
LATITUDE           float64
LONGITUDE          float64
ELEVATION          float64
DATE                object
PRCP               float64
PRCP_ATTRIBUTES     object
SNWD               float64
SNWD_ATTRIBUTES     object
TAVG                 int64
TAVG_ATTRIBUTES     object
TMAX               float64
TMAX_ATTRIBUTES     object
TMIN               float64
TMIN_ATTRIBUTES     object
dtype: object

In [14]:
balice.to_excel('data/balice.xlsx', sheet_name='balice', index=False)

In [16]:
balice2 = pd.read_excel("data/balice.xlsx", sheet_name="balice")
balice2

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,SNWD,SNWD_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-01-01,0.00,"B,,S",NaN,NaN,30,"H,,S",NaN,NaN,NaN,NaN
1,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-01-02,0.00,"B,,S",NaN,NaN,33,"H,,S",NaN,NaN,NaN,NaN
2,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-01-03,0.00,"B,,S",NaN,NaN,34,"H,,S",NaN,NaN,29.0,",,S"
3,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-01-04,0.00,",,S",NaN,NaN,35,"H,,S",43.0,",,S",NaN,NaN
4,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-01-05,0.29,",,S",NaN,NaN,36,"H,,S",38.0,",,S",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-12-27,0.01,",,S",1.2,",,S",17,"H,,S",NaN,NaN,12.0,",,S"
359,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-12-28,0.00,",,S",0.8,",,S",24,"H,,S",27.0,",,S",19.0,",,S"
360,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-12-29,0.01,"B,,S",0.8,",,S",28,"H,,S",NaN,NaN,22.0,",,S"
361,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-12-30,0.00,"B,,S",0.8,",,S",35,"H,,S",NaN,NaN,NaN,NaN
362,PLM00012566,"BALICE, PL",50.078,19.785,241.1,2021-12-31,0.13,",,S",NaN,NaN,50,"H,,S",54.0,",,S",38.0,",,S"

In [19]:
balice2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363 entries, 0 to 362
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATION          363 non-null    object
 1   NAME             363 non-null    object
 2   LATITUDE         363 non-null    float64
 3   LONGITUDE        363 non-null    float64
 4   ELEVATION        363 non-null    float64
 5   DATE             363 non-null    object
 6   PRCP             357 non-null    float64
 7   PRCP_ATTRIBUTES  357 non-null    object
 8   SNWD             60 non-null     float64
 9   SNWD_ATTRIBUTES  60 non-null     object
 10  TAVG             363 non-null    int64
 11  TAVG_ATTRIBUTES  363 non-null    object
 12  TMAX             270 non-null    float64
 13  TMAX_ATTRIBUTES  270 non-null    object
 14  TMIN             146 non-null    float64
 15  TMIN_ATTRIBUTES  146 non-null    object
dtypes: float64(7), int64(1), object(8)
memory usage: 45.5+ KB

In [25]:
tavgs = balice["TAVG"]
tavgs.shape
date_tavg = balice[["DATE", "TAVG"]]
date_tavg

           DATE  TAVG
0    2021-01-01    30
1    2021-01-02    33
2    2021-01-03    34
3    2021-01-04    35
4    2021-01-05    36
..          ...   ...
358  2021-12-27    17
359  2021-12-28    24
360  2021-12-29    28
361  2021-12-30    35
362  2021-12-31    50

[363 rows x 2 columns]

In [26]:
date_tavg.shape

(363, 2)